# Part II: Built-in Types, Iterables and NumPy - without solutions
   
Guido Möser /dl4fdr/ under CCC license
   
First part: 45 - 60 mins interactive demonstrations / 30 - 45 mins exercises + discussion of possible solutions   
  
References: https://docs.python.org/3/library/stdtypes.html    
NumPy: https://numpy.org/   
   
### Numbers, Booleans and None
- int
- float
- boolean
- None
   
### Iterables
- Strings + Manipulation
- Tuple
- Lists
- Dictionary and Set
   
### *Maybe*: NumPy, Short Introduction   
   
### Exercises

## Numbers, Booleans and None

This section deals with the different ways of representing a number in the *built-in* methods in Python. Furthermore, the Boolean type with `True` and `False` is introduced. The special value `None` is used to represent missing values ​​etc.

### Types of Numbers

Three different types of numbers in Python:
1. Integer types: `int`
2. Floating point numbers (representing real numbers) `float`
3. Complex numbers: `complex` 

A distinction is made between 1 and 2 because using an integer (e.g. 4) instead of a floating point number (e.g. 4.0) 
uses less memory and less CPU power.
   
    
**Caution:** If two integers are multiplied, added and subtracted, the result is always an integer!

In [ ]:
# Explicitly define an integer

In [ ]:
# print and type

In [ ]:
# Float

In [ ]:
# Faster

In [ ]:
# print and type

### Conversion of data types

Some data types can be converted, e.g. `int` to `float`. The reverse is also possible, but leads to a truncation of the decimal places (no rounding!);
  
`True` and `False` (note the spelling!) can also be changed;

In [ ]:
# Vice-versa

In [ ]:
# True and False

In [ ]:
# In Bool

In [ ]:
# only 0 results in a False, all other values will be converted into True!

### None

The `None` keyword is used to define a null value, or no value at all: 
- `None` is not the same as `0`, `False`, or an empty string. 
- `None` is a data type of its own - `NoneType` - and only `None` can be `None`.

In [ ]:
#Assign the value None to a variable:

In [ ]:
# True or False (or what else)?

## Python Strings and Manipulations

- A string in Python is a series or sequence of **characters** in a specific order.
- A **character** is simply everything that can be entered using a keyboard, i.e. letters 'a', 'B', etc., numbers, 1, 2, 3, special characters, §, $, / etc.
- Strings are **immutable**: once a string has been created, it cannot be changed. A supposed change is always the creation of a new string! This plays a role when a string is to be modified (see examples below)
- **Beginning and end of strings** are indicated by single or double quotes. Mixing single and double quotes is not allowed.

In [ ]:
# Typical behavior of jupyter notebooks:

Using the `print()` function prints all strings, not just the last string (see above):

Multi-line strings must be enclosed in **triple single quotes**, otherwise newlines in single or double quotes will result in errors:

### What type is a ... string?

Although Python is untyped about variables, the same is not true for values ​​in variables - they have a type assigned. This type can be queried with the `type()` command:

Is read: In the variable `TextVariable` a **String class (Type)** is currently (dynamic typing!) held.

The type is important, it also defines e.g. what the result of a `+` operation is! (see next exercise)

### String operations

#### String Concatenation

Two strings can be joined with the addition sign `+`; *See also exercise!*
   

   
#### Length of a string

The `len()` function can be used to determine the number of characters in a string:

#### Replacing Strings: `.replace()`-Methode

A string can replace another string within a string.

### More string operations

Additional string operations are available:

**Tests:**
- `.startswith()`
- `.endswith()`
- `.istitle()`
- `.isupper()`
- `.islower()`
- `.isalpha()`

**Conversions:**
- `.upper()`  
- `.lower()`
- `.title()`
- `.swapcase()`
- `.strip()`

## Iterables / Collection Types

Tuples, lists (collections, etc.) are so-called `collection types`.

A `collection` is a single object representing a collection of objects.
    
The following overview shows which `Collection Types` are available in Python:

#### Python Collection Types

There are four classes in Python that exhibit container behaviors:
- **Tuples:** *collection of objects that are ordered and immutable (modification not possible)*
- **Lists:** *collection of objects that are ordered and mutable, indexed and allow duplicate members*
- **Sets:** *collection that is unordered and unindexed. Mutable but do not allow duplicate values ​​to be held*
- **Dictionary:** *unordered collection that is indexed by a key which references a value. The value is returned when the key is provided. No duplicate keys are allowed. Duplicate values ​​are allowed. Dictionaries are mutable.*
  

**Note**: Since everything in Python is a `type of object` (e.g. an integer is an instance/object of type (class) int, etc.), all objects can also be stored in `collections` !

### tuples

Tuples (along with the list class) are the most commonly used container types in Python.

Tuples are immutable ordered `collections` of objects: each element in a tuple has a specific position (index!) and this position cannot change over time.
  

**Note: It is not possible to remove or add elements after a tuple has been created!**

### Create tuples

Tuples are created with round brackets `()`.

- A tuple has been defined, which is referenced by the variable name `tup1`.
- The tuple `tup1` contains 4 elements (integer in the example)
- Indexing: The first element has the index 0, the last element the index 3

### The `tuple()` constructor function

The `tuple()` function can be used to create a `tuple` from an `iterable`. `iterables` are for example a `set`, a `list`, a `dictionary`.

### Accessing tuple elements

Elements in a tuple can be referenced using an index in square brackets.

### Slices from existing tuples

*Slices* can also be drawn from tuples. The result is a new tuple. For this purpose, the start position (note: index starts at 0) and the end position are specified in square brackets, whereby the value after the colon is not included, **example**:

In [ ]:
# The two values in the middle of the tuple:

Further possibilities

#### Tuples can contain different object classes

### Tuple-related functions

- `index()` and `count()` are methods defined for class Tuple
- `len()` is a function whose argument is the tuple

In [ ]:
# Length

In [ ]:
# Counting the number of occurrences of a given value:

In [ ]:
# First occurrence of a value in a tuple:

### Check if an element is in a tuple:

## List

An object of type `List` is a mutable (*mutable*) ordered container.
   

   
**Note: A `List` object has all the properties of a tuple, but elements can be modified, added and deleted.**

### Create list

Square brackets `[]` are used to create a list.

In [ ]:
list1 = ['Daenerys', 'Jon', 'Tyrion', 'Arya', 'Cersei', 'Bran' ]

`list1` is an object of type `list` containing six elements, the first object of which has index 1.

### The `list()` constructor function

The `list()` function can be used to create a `list` from an `iterable`. `iterables` are for example a set, a list, a dictionary.
   
**Syntax:**
`list(iterable)`

In [ ]:
vowelTuple = ('a', 'e', 'i', 'o', 'u')

### Accessing elements of a `List`

Elements of an object of type `list` are selected using the square brackets `[]`. If more than one element is to be queried, the beginning and end of the elements to be selected must be separated by a colon. The same rules apply as for type `tuple`.
**Note**: In Python, the index starts with 0.

In [ ]:
list1 = ['Daenerys', 'Jon', 'Tyrion', 'Arya', 'Cersei', 'Bran' ]

Selection of a section (*slice*) using a colon `:`, you can also work with the negative sign, then the selection starts at the end. Here are some examples:

### Add items to a list

The type `list` is mutable, elements can be changed and added.
An element is added using the `.append()` method:
`<alist>.append(<object>)`

In [ ]:
# Add an element to a list

Lists can also be added to a list using the `extend()` method, and the `+=` command can also be used. Both use `iterable` objects.

### Insertion in a list

Using the `insert()` method, elements can be inserted into an existing list - at a specific position:

`<list>.insert(<index>, <object>)`

In [ ]:
# 1st place Samwell:

### Concetation of lists

The connection (concatenate) of two lists is done using the `+` operator:

In [ ]:
list1 = [3, 2, 1]
list2 = [6, 5, 4]

### Remove items from a list

Items can be removed from a list using the `.remove()` method.

Syntax:

`<list>.remove(<object>)`

If the object is not in the list, an error is returned.

In [ ]:
list2 = ['Daenerys', 'Jon', 'Tyrion', 'Arya']

### Overview List Methods

- `append()`: Adds an element at the end of the list
- `clear()`: Removes all the elements from the list
- `copy()`: Returns a copy of the list
- `count()`: Returns the number of elements with the specified values
- `extend()`: Add the elements of a list (or any iterable), to the end of the current list
- `index()`: Returns the index of the first element with the specified value
- `insert()`: Adds an element at the specified positions
- `pop()`: Removes the element at the specified position
- `remove()`: Removes the item with the specified value
- `reverse()`: Reverses the order of the list
- `sort()`: Sorts the list

## Dictionaries and Sets

## Dictionaries

A `Dictionary` is a set of associations between a key and a value.

A `Dictionary` is unordered, mutable and indexed.

In a `Dictionary` the keys are unique but the values ​​are not.

### Create a dictionary

A `Dictionary` is created with curly brackets `{}`, where each entry is a `key:value` pair (`key:value` pair)

In [ ]:
cities = {'Wales':'Cardiff',
          'England':'London',
          'Scotland':'Edinburgh',
          'Northern Ireland':'Belfast',
          'Ireland':'Dublin'}

### The `dictionary()` constructor function

The `dictionary()` function can be used to create a `dictionary` from an `iterable` or a sequence of `key:value` relations.
  
**Syntax:**
  
`dict(**kwarg)`

`dict(mapping, **kwarg)`

`dict(iterable, **kwarg)`
    

This is an `overload` function with three different types that can handle different types of arguments:
- The first option uses a sequence of key:value pairs
- The second option uses a mapping and (optionally) a sequence of key:value pairs
- The third variant uses key:value pairs and an optional sequence of key:value pairs

In [ ]:
# note keys are not strings

In [ ]:
# key value pairs are tuples:

In [ ]:
# key value pairs are lists:

### Working with dictionaries

#### Accessing items with keys

Values can be addressed with the help of the key: either with the square brackets `[]` or with the `get()` method.
   

Note: If a key does not exist, an error is returned.

In [ ]:
# Fehler:

#### Add a new entry:

A new entry can be added by specifying the key in square brackets after the dictionary name and specifying the value:

#### Changing a key value

The value of a key can be done by assigning a value to an existing key:

#### Remove an entry

An entry in a `Dictionary` can be made in three ways:
- `pop()` method
- `popitem()` method
- `del` keyword
  

**Details on the three options:**
- The `pop(<key>)` method removes an entry with a specified key. The method returns the removed value. If the value does not exist, a default value is returned if set with `setdefault()`. If no default value has been set, an error is returned.
- The `popitem()` method removes the last added item in the dictionary. The deleted key:value pair is returned.
- The `del` keyword deletes an entry. The deleted pair is not returned.

In [ ]:
# popitem-Methode

In [ ]:
# pop-Methode
cities.pop('Northern Ireland')

In [ ]:
cities

In [ ]:
# del Schlüsselwort
del cities['England'] # Silent!

In [ ]:
cities

Attention: The `clear()` method clears the whole dictionary:

In [ ]:
cities.clear()
cities

#### Iterate over the keys

A loop can be used to query the value pairs of the dictionary individually.

In [ ]:
cities = {'Wales':'Cardiff',
          'England':'London',
          'Scotland':'Edinburgh',
          'Northern Ireland':'Belfast',
          'Ireland':'Dublin'}

If you want to iterate over the values ​​directly, then the `value()` method can be used:

`for e in d d.values():`   
    `print(e)`

#### Values, keys and items

There are three methods to get a `view` of the values ​​in the dictionary:
- `values()`: Look at the values
- `keys()`: Look at the keys
- `items()`: look at the key:value pairs

A `view` provides a dynamic view of the entries in a dictionary: if the dictionary changes, the `view` also changes.

In [ ]:
# Values

In [ ]:
# Keys

In [ ]:
# pairs

### Check key association

To check whether a key exists in a dictionary, the `in` or the `not in` can be used:

#### Length of a dictionary

The number of key:value pairs can be obtained using the `len()` function:

## Dictionary Methods

**Overview:** 
- `clear()`: Removes all the elements from the dictionary
- `copy()`: Returns a copy of the dictionary
- `fromkeys()`: Returns a dictionary with the specified keys and values
- `get()`: Returns the value of the specfied key
- `items()`: Returns a list containing the tuple for each keys value pairs
- `keys()`: Returns a list containing the dictionary's key
- `pop()`: Removes the element with the specified key
- `popitem()`: Removes the last inserted key-value pair
- `setdefault()`: Returns the value of the specified key. If the key does not exist: insert the key, with the specified value.
- `update()`: Updates the dictionary with the specified key-value pairs
- `values()`: Returns a list of all the values in the dictionary

## Quantities (sets)

Sets are an unordered (unindexed) collection of immutable objects that do not allow duplicates.

### Create a set

A set is created with curly braces, `{}`

In [ ]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}

Note: Since the elements in the set are unordered (*!please note the output in the last chunk regarding the order!*), they cannot be indexed or addressed via an index.

### Addressing elements in a set

Since sets cannot be addressed via an index, a `for` loop must be used, for example:

### Sets: Methods

Typical methods:
- `in` keyword: check if an element is in a set;
- `add()` method: adding elements to a set
- Changing items in a set: not possible;
- `len()` function: checking the number of elements in a set.
- `min` and `max` functions: minimum and maximum of a set
- `remove()` method: remove an item. Alternatively, discard()` can be used.

### Set Operations

Furthermore `set like` operations can be used, so join operations can be used with |, &, - or ^

# *Maybe:* NumPy arrays

NumPy arrays are faster than lists, so NumPy arrays are available in one location (*locallity of reference*), lists are stored (e.g. if they grow) in different locations. Furthermore, NumPy operations are CPU optimized.
  
NumPy Codebase: https://github.com/numpy/numpy

In [ ]:
# With Alias np

## Create a simple NumPy array

For example, a simple NumPy array can be created from a list or tuple:

In [ ]:
EinfachesNumPyArray = np.array([1, 3, 5, 1, 2])

In [ ]:
# Get the array:

In [ ]:
# type:

### 1-D Arrays: Vector

1-D arrays are vectors.

In [ ]:
EinDNumPyArray = np.array([1, 3, 5, 1, 2])

### 2-D Arrays: 2 dimensional matrix

An array that has 1-dimensional arrays as elements is called a 2-D array:

In [ ]:
ZweiDimensionalesArray = np.array([[1, 2, 3], [4, 5, 6]])

In [ ]:
# Get dimensions

### Indexing of 2-dimensional arrays

Integers can be used to query elements of 2-dimensional arrays (matrix):
- First Position: Rows (First Dimension)
- Second Position: Columns (Second Dimension)

In [ ]:
# Expand existing array
ZweiDimensionalesArray = np.array([[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]])

In [ ]:
# First element in the second row

In [ ]:
# Third element in the first row

### Data Types in NumPy Arrays

NumPy supports more data types compared to the "classic" Python data types - strings, integer, float, boolean, complex:
   
- i - integer
- b - boolean
- u - unsigned integer
- f - float
- c - complex float
- m - timedelta
- M - datetime
- O - object
- S - string
- U - unicode string
- V - fixed chunk of memory for other type ( void )

In [ ]:
# create array
EinfachesNumPyArray = np.array([1, 3, 5, 1, 2])

In [ ]:
# Query data type

### Create array with data type
Arrays can already be created with a data type

The size in bytes can be allocated for:
- i
- u
- f
- S
- U

### Convert the data type of an existing array

Recommendation: Create a copy of the array in the desired data type using the `astype()` method:

In [ ]:
EinfachesFloatingPointArray = np.array([1.1, 1.2, 1.5])
EinfachesFloatingPointArray

In [ ]:
# Neues Array

In [ ]:
## Alternativ kann auch int verwendet werden - ohne Anführungszeichen

# Exercises

## int(), float(), bool(), str() and None

Please create two variables with text, `textOne` and `textTwo`; Write a short text (>= one word) in the two variables; Output the contents of both variables in one(!) chunk;

Please create two variables. One variable `numberOne` with a number as an integer and the other variable `numberTwo` with the same number. Check what boolean type is returned when you compare the variables.

Connect both variables `textOne` and `textTwo` with the `+` operator. Print out the result and use the `type()` function to check what type it is; What is the behavior of the `+` operator here?

## tuple()

#### tuple: creating a tuple:
- Create a tuple with values {10, 20, 30, 40, 50}
- Store the tuple in the variable `MyTuple`
- Output the tuple - once with and once without print!
- Flip the values in the Tuple(). If necessary, look for suitable help!
- Query the value 20 from the tuple `MyTuple`!

#### tuple: retrieving a value from a tuple

- Query the value 20 from the tuple `ComplexTuple`!

`ComplexTuple = ("Orange", [10, 20, 30], (5, 15, 25))`
  
- What's the best way to go about it?

#### Optional: Create a tuple with a single value

- Create a tuple with only value {50}
- Check the object class with the `type()` function!

#### Optional: Extract the values of a tuple into individual variables

- Without looping, try to extract the contents of the tuple: (10, 20, 30, 40) into four variables named a, b, c and d. 
- If necessary, look for appropriate help

#### Part Indexing: Copy elements 44 and 55 of tuple `SimpleTuple2` into a new tuple `SimpleTuple3`
  
`SimpleTuple2 = (11, 22, 33, 44, 55, 66)`

## list()

#### Part Indexing: Reverse the following list

`EineEinfacheListe = [100, 200, 300, 400, 500]`

#### Part Concatenate: Join the two lists

`Liste1 = ['My', 'name']`  
`Liste2 = ['is', 'World!']`

In [ ]:
Liste1 = ['My', 'name']
Liste2 = ['is', 'World!']

#### Part: Insert a value after another value

- You need indexing (square brackets) and the `append()` method!
- Add value 7000 after value 6000 in the list!
  
`List3 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]`

In [ ]:
List3 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

## dictionaries()

### Creating a Dictionary

- First create the dictionary `tel`:

{
    'work': {'Jack': '49', 'Jill': '06', 'James': '44'},
    'private': {'Kyle': '424733', 'Karen': '511727'}
}   

- Note: The dictionary is already prepared so that you can copy it into a code chunk. But don't forget to assign the dictionary to the variable `tel` as well!
- Inspect the dictionary

In [ ]:
tel = { 'work': {'Jack': '49', 'Jill': '06', 'James': '44'}, 'private': {'Kyle': '424733', 'Karen': '511727'} }

### Functions and methods of a dictionary
Run the following commands, always try to explain what the command does (use the help) and check the result:

- len(tel)
- len(tel['work'])
- len(tel['private'])
- tel['work']['Jill']
- tel['work'].get('Jane')
- '06' in tel['work']
- 'Jack' in tel['work']
- list(tel.keys())
- list(tel['work'].keys())
- list(tel['private'].values())
- tel['private'].copy()

### Modifying Dictionary Statements

**Caution** The following commands change the dictionary! You may have to restore it.

First create the dictionary `d`:

d = {'Jack': '49', 'Jill': '06', 'James': '44'}
  

Please test what happens when you run the following commands. Always try to understand these:

- d = {'Jack': '49', 'Jill': '06', 'James': '44'}
- d['Jill'] = '46'
- del d['Jack']
- d.pop('James')
- d.pop('Jane', None)
- d.setdefault('Jill', None)
- d.setdefault('Jack', None)
- d.setdefault('James', None)
- d.update({'Jack': '59', 'James': '54', 'Jane': '56'})
- d.clear()

In [ ]:
# Create dict
d = {'Jack': '49', 'Jill': '06', 'James': '44'}

### NumPy-Arrays

### Anzahl an Dimensionen
Please check the number of dimensions of the arrays - what is it (scalar, vector, 2-D matrix, k-dimensional array):   
`a = np.array(42)`  
`b = np.array([1, 2, 3, 4, 5])`   
`c = np.array([[1, 2, 3], [4, 5, 6]])`    
`d = np.array([[[1, 2, 3], [4, 5, 6]], [[1, 2, 3], [4, 5, 6]]])`